__pycache__/
.env
.venv/
venv/
*.db
test.db
/.idea/

# Terraform local/state files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/*.auto.tfvars

/terraform/.terraform.lock.hcl
/local-start.sh
